node_modules
dist
build
coverage
.vscode
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

client/node_modules
client/dist
client/build
client/.vite

server/node_modules
server/dist
server/build
.env
server/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Salesforce_Chitkara_AI_Website_Builder_Challenge (1).pdf
